<div class="min-h-screen bg-white flex flex-col">
  <app-navbar></app-navbar>

  <main class="w-full flex-1">
    <section
      class="p-4 w-full flex-col justify-start md:py-4 md:px-10 overflow-hidden"
    >
      <ng-container
        *ngIf="
          admin_promotions | async as listPromotions;
          else failureOrLoading
        "
      >
        <section class="w-full flex flex-col gap-4">
          <div class="w-full flex-col items-center justify-between md:flex-row">
            <div class="w-full flex justify-between">
              <h1
                class="text-md font-semibold leading-relaxed text-gray-800 md:text-xl"
              >
                All Admin Promotions
              </h1>
              <div class="flex gap-2">
                <a
                  href="proxies_admin/promotions/create"
                  class="flex items-center justify-center px-3 py-1 space-x-2 text-sm tracking-wide text-white capitalize transition-colors duration-200 transform bg-blue-600 rounded-md dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:bg-blue-700 hover:bg-blue-600 focus:outline-none focus:bg-blue-500 focus:ring focus:ring-blue-300 focus:ring-opacity-50"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="w-5 h-4"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z"
                      clip-rule="evenodd"
                    />
                  </svg>

                  <span>New</span>
                </a>

                <form [formGroup]="searchFormGroup" class="hidden lg:block">
                  <label for="topbar-search" class="sr-only">Search</label>
                  <div class="mt-1 relative lg:w-64">
                    <div
                      class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none"
                    >
                      <svg
                        class="w-5 h-5 text-gray-500"
                        fill="currentColor"
                        viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          fill-rule="evenodd"
                          d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                          clip-rule="evenodd"
                        ></path>
                      </svg>
                    </div>
                    <input
                      type="text"
                      name="email"
                      id="topbar-search"
                      class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-cyan-600 focus:border-cyan-600 block w-full pl-10 p-2.5"
                      placeholder="Search"
                    />
                  </div>
                </form>
              </div>
            </div>
          </div>

          <div class="overflow-hidden rounded shadow-lg">
            <div class="h-full overflow-auto">
              <table class="w-full">
                <thead>
                  <tr
                    class="text-sm font-semibold tracking-wide text-left text-white bg-blue-800 rounded uppercase border-b border-gray-600"
                  >
                    <th class="py-4 px-6">Admin ID</th>
                    <th class="py-4 px-6">Product</th>
                    <th class="py-4 px-6">Percentage</th>
                    <th class="py-4 px-6">Created</th>
                    <th class="py-4 px-6">Start</th>
                    <th class="py-4 px-6">End</th>
                    <th class="py-4 px-6">Status</th>
                  </tr>
                </thead>
                <tbody class="bg-white">
                  <tr
                    *ngFor="let p of listPromotions.content"
                    class="text-gray-700"
                  >
                    <td class="px-4 py-3 text-sm font-semibold border">
                      {{ p.promotion.admin.cin }}
                    </td>
                    <td class="px-4 py-3 text-sm font-semibold border">
                      {{ p.promotion.product.name }}
                    </td>
                    <td class="px-4 py-3 text-sm font-semibold border">
                      {{ p.promotion.percentage }}%
                    </td>
                    <td class="px-4 py-3 text-sm border">
                      {{ p.promotion.createdAt }}
                    </td>
                    <td class="px-4 py-3 text-sm border">
                      {{ p.promotion.startAt }}
                    </td>
                    <td class="px-4 py-3 text-sm border">
                      {{ p.promotion.endAt }}
                    </td>
                    <td class="px-4 py-3 text-sm font-semibold border">
                      {{ p.status }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </section>

        <ng-container *ngIf="listPromotions.totalPages">
          <ul class="py-2 flex justify-center text-xs font-medium space-x-1">
            <li *ngIf="!listPromotions.first">
              <a
                [routerLink]="'/proxies_admin/promotions'"
                [queryParams]="{ page: currentPage - 1 }"
                class="inline-flex items-center justify-center w-8 h-8 border border-gray-100 rounded"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="w-3 h-3"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                >
                  <path
                    fill-rule="evenodd"
                    d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
                    clip-rule="evenodd"
                  />
                </svg>
              </a>
            </li>

            <li
              *ngFor="
                let page of getTotalPagesArray(listPromotions);
                let i = index
              "
            >
              <a
                [ngClass]="{
                  'bg-blue-600 border border-blue-600 text-white ':
                    page == currentPage
                }"
                class="block w-8 h-8 text-center border border-gray-100 rounded leading-8"
                [routerLink]="'/proxies_admin/promotions'"
                [queryParams]="{ page: this.page }"
              >
                {{ page }}
              </a>
            </li>

            <li *ngIf="!listPromotions.last">
              <a
                [routerLink]="'/proxies_admin/promotions'"
                [queryParams]="{ page: listPromotions.pageable.pageNumber + 2 }"
                class="inline-flex items-center justify-center w-8 h-8 border border-gray-100 rounded"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="w-3 h-3"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                >
                  <path
                    fill-rule="evenodd"
                    d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                    clip-rule="evenodd"
                  />
                </svg>
              </a>
            </li>
          </ul>
        </ng-container>
      </ng-container>

      <ng-template
        #failureOrLoading
        class="text-md font-semibold leading-relaxed text-red-600 md:text-xl"
      >
        <ng-container *ngIf="errorMsg; else loading">
          <div
            class="text-md font-semibold leading-relaxed text-red-600 md:text-lg"
          >
            {{ errorMsg }}
          </div>
        </ng-container>

        <ng-template #loading> Loading .... </ng-template>
      </ng-template>
    </section>
  </main>
</div>
