<section class="w-3/5 flex flex-col m-auto h-full gap-4 px-6">
  <!-- <div class="w-full flex-col items-center justify-between md:flex-row">
        <div class="w-full flex justify-between">
            <h1 class="text-sm font-semibold leading-relaxed text-gray-600 md:text-lg">Create New Promotion</h1>
        </div>
    </div>         -->

  <form method="POST"  class="mt-5">
    <div class="mt-4">
      <label
        for="product"
        class="block text-md text-gray-700 capitalize dark:text-gray-200"
        >Product</label
      >
      <div  *ngIf="products | async as listProducts; ">
        <select
          required
          value=""
          name="product"
          id="category"
          class="block w-full px-3 py-2 mt-3 text-gray-600 placeholder-gray-400 bg-white border border-gray-200 rounded-md focus:border-blue-400 focus:ring focus:ring-blue-300 focus:ring-opacity-40"
          aria-placeholder="product"
          aria-label="select a product"
        >
          <option *ngFor="let p of listProducts.content"
           value="">{{p.name}}</option>
        </select>
      </div>
    </div>
    <div class="mt-4">
      <label
        for="percentage"
        class="block text-sm text-gray-700 capitalize dark:text-gray-200"
        >Percentage</label
      >
      <input
        required=""
        name="percentage"
        type="number"
        class="block w-full px-3 py-2 mt-2 text-gray-600 placeholder-gray-400 bg-white border border-gray-200 rounded-md focus:border-indigo-400 focus:outline-none focus:ring focus:ring-indigo-300 focus:ring-opacity-40"
      />
    </div>

    <div class="mt-4">
      <label
        for="startAt"
        class="block text-sm text-gray-700 capitalize dark:text-gray-200"
        >Start At</label
      >
      <input
        placeholder=""
        value=""
        name="startAt"
        type="datetime-local"
        class="block w-full px-3 py-2 mt-2 text-gray-600 placeholder-gray-400 bg-white border border-gray-200 rounded-md focus:border-indigo-400 focus:outline-none focus:ring focus:ring-indigo-300 focus:ring-opacity-40"
      />
    </div>

    <div class="mt-4">
      <label
        for="endAt"
        class="block text-sm text-gray-700 capitalize dark:text-gray-200"
        >Ended At</label
      >
      <input
        placeholder=""
        value=""
        name="endAt"
        type="datetime-local"
        class="block w-full px-3 py-2 mt-2 text-gray-600 placeholder-gray-400 bg-white border border-gray-200 rounded-md focus:border-indigo-400 focus:outline-none focus:ring focus:ring-indigo-300 focus:ring-opacity-40"
      />
    </div>

    <div class="flex justify-end my-6">
      <button
        type="submit"
        class="px-3 py-2 text-sm tracking-wide text-white capitalize transition-colors duration-200 transform bg-blue-600 rounded-md dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:bg-blue-700 hover:bg-blue-600 focus:outline-none focus:bg-blue-500 focus:ring focus:ring-blue-300 focus:ring-opacity-50"
      >
        Create
      </button>
    </div>
  </form>
    <!-- <div class="mt-4">
      <label
        for="centers"
        class="block text-md text-gray-700 capitalize dark:text-gray-200"
        >Centers</label
      >
      <select
        required
        value=""
        name="centers"
        id="centers"
        class="block w-full px-3 py-2 mt-3 text-gray-600 placeholder-gray-400 bg-white border border-gray-200 rounded-md focus:border-blue-400 focus:ring focus:ring-blue-300 focus:ring-opacity-40"
        aria-placeholder="centers"
        aria-label="select a center"
      >
        <option value=""></option>
      </select>
    </div> -->
</section>
